/* =================================
  Flexbox
==================================== */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 280px;
}

.item {
    flex-grow: 1;
}

.item-5 {
    order: -2;
    flex-grow: 3;
}
